*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.lx{
  margin-right: 2%;
}

.dx{
  margin-left: 2%;
}

.container{
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(1, 133, 255);
  max-width: 1200px;
}
aside{
  width: 19%;
  height: 400px ;
  float: left;
  margin-bottom: 20px;
}

.bg-l-blue{
  background-color: rgb(171, 207, 231);
}

.navbar{
  /* background-color: rgb(209, 112, 210); */
  /* height: 100px; */
}
.navbar img{
  width: 20%;
  padding-right: 15px;
  border-right: 1px solid rgb(155, 155, 155);
}

.navbar ul{
  padding-top: 10px;
  list-style: none;
}

.navbar ul li{
  display: inline-block;
  padding-right: 5px;
}
.navbar ul li:hover{
  color: orange;
}

.jumbotron{
  background-color: rgb(225, 214, 122);
  height: 400px;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

/* sbagliato? */
.space{
  height: 50%;
}

.jumbotron h2, p{
  width: 60%;
  padding-left: 30px;
  vertical-align: middle;
}

.overlay{
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
}

.col-3{
  /* height: 600px; */
}

.title{
  height: 100px;
  margin-bottom: 20px;
}

section{
  float: left;
  width: 58%;
  height: 400px;
}

.credits{
  height: 50px;
  background-color: rgb(102, 10, 182);
  margin-bottom: 0;
}
